<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
                <img src="assets/img/fotos/images/nosotros.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3>¿Qué es el Polo Tecnológico Mina Clavero?</h3>
                <p class="font-italic">
                    Gracias a que la economía del conocimiento está en constante crecimiento, y sumado a que en toda la zona de Traslasierra
                    se necesitan industrias menos estacionales que el turismo, se comenzó a pensar y gestar la necesidad de integrar
                    nuevas formas de trabajo, libres de contaminación y que acerquen a sus integrantes a una vida más natural
                    y con un ritmo de vida más tranquilo.<br />
                    Es por ello que el Polo Tecnológico Mina Clavero surge como una iniciativa entre el sector público y privado, 
                    con el fin de trabajar juntos para lograr este objetivo.<br />
                    Así, la Municipalidad de Mina Clavero, mediante la gestión de los intendentes Julio Bañuelos inicialmente 
                    y de Claudio Manzanelli actualmente, aporta un espacio físico provisto de las herramientas e instalaciones necesarias 
                    para la actividad, y las empresas (entre ellas nacionales e internacionales) brindan trabajo directo para sus proyectos y clientes.<br />
                    Aquí contamos con el apoyo fundamental desde el primer día, de la empresa IncluIT, liderada por Alberto Harriague y Rafael Ibáñez.
                </p>
                <ul>
                    <li>
                        <i class="bi bi-check-circle"></i> 
                        Desarrollamos software y prestamos servicios tanto a Argentina, Latinoamérica, Estados Unidos y Europa.
                    </li>
                    <li>
                        <i class="bi bi-check-circle"></i>
                        Brindamos capacitaciones constantes para el crecimiento de nuestro equipo y de nuevos talentos.
                    </li>
                    <li>
                        <i class="bi bi-check-circle"></i>
                        Estamos en constante crecimiento, recibiendo proyectos y desafíos nuevos.
                    </li>
                </ul>

                <p class="font-italic">
                    Te invitamos a que recorras el sitio y conozcas mas sobre nosotros.<br />
                    ¿Alguna consulta? Escribinos completando el formulario desde <a href="#contact">aquí</a>.
                </p>

                @*<a href="#" class="read-more">Read More <i class="bi bi-long-arrow-right"></i></a>*@
            </div>
        </div>

    </div>
</section>