@{
    var contadores = PoloSitioWeb.Helpers.CounterHelper.GetCounts();
}

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">

        <div class="row counters">

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="@contadores.Empresas" data-purecounter-duration="1" class="purecounter"></span>
                <p>Empresas participantes</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="@contadores.CantidadTrabajando" data-purecounter-duration="1" class="purecounter"></span>
                <p>Talentos trabajando</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="@contadores.CantidadProyectos" data-purecounter-duration="1" class="purecounter"></span>
                <p>Proyectos en desarrollo</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="@contadores.CantidadCursosDictados" data-purecounter-duration="1" class="purecounter"></span>
                <p>Capacitaciones dictadas</p>
            </div>

        </div>

    </div>
</section><!-- End Counts Section -->