@{
    ViewData["Title"] = "Polo Tecnológico Mina Clavero";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>"El futuro pertenece a los que creen en la belleza de sus sueños"</h1>
                <br />
                <h2>Éste es el nuestro y queremos que lo conozcas, bienvenido!</h2>
                @*<div><a href="#about" class="btn-get-started scrollto">Get Started</a></div>*@
            </div>
        @*<div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
                <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>*@
            </div>
    </div>

</section><!-- End Hero -->
<main id="main">

    <!-- ======= About Section ======= -->

    <partial name="_AboutUs" />

    <!-- End About Section -->
    <partial name="_Counters" />
    <!-- ======= Services Section ======= -->

    @*<partial name="_Services" />*@

    <!-- End Services Section -->
    <!-- ======= Features Section ======= -->

    @*<partial name="_Features" />*@

    <!-- End Features Section -->

    <partial name="/Views/Home/_Enterprises.cshtml" />
    
    <partial name="/Views/Home/_Sponsors.cshtml" />

    <!-- ======= Portfolio Section ======= -->

    @*<partial name="_Portfolio" />*@

    <!-- End Portfolio Section -->

    <partial name="/Views/Home/_Team.cshtml" />

    <!-- ======= Pricing Section ======= -->

    @*<partial name="_Pricing" />*@

    <!-- End Pricing Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->

    @*<partial name="_Faq" />*@

    <!-- End Frequently Asked Questions Section -->

    <partial name="/Views/Home/_Contact.cshtml" />

</main><!-- End #main -->