@{
    ViewData["Title"] = "Polo Tecnológico Mina Clavero";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                @*<h1>Polo Tecnológico Mina Clavero</h1>*@
                @*<h2>We are team of talented designers making websites with Bootstrap</h2>*@
                @*<div><a href="#about" class="btn-get-started scrollto">Nosotros</a></div>*@
            </div>
            @*<div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
                <img src="assets/img/hero-img-blue.png" class="img-fluid animated" alt="">
            </div>*@
        </div>
    </div>

</section><!-- End Hero -->
<main id="main">

    <!-- ======= About Section ======= -->

    <partial name="_AboutUs" />

    <!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" id="ContadoresJs">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" :data-purecounter-end="DiasExistenciaPolo" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Días que existe el Polo</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" :data-purecounter-end="CandtidadTrabajando" data-purecounter-duration="1" class="purecounter"></span>
                    <p>¿Cuántos somos trabajando?</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" :data-purecounter-end="CandtidadProyectos" data-purecounter-duration="1" class="purecounter"></span>
                    <p>¿Cuántos proyectos estamos desarrollando?</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" :data-purecounter-end="CandtidadCursosDictados" data-purecounter-duration="1" class="purecounter"></span>
                    <p>¿Cuántos cursos dictamos?</p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Services Section ======= -->

    @*<partial name="_Services" />*@

    <!-- End Services Section -->
    <!-- ======= Features Section ======= -->

    @*<partial name="_Features" />*@

    <!-- End Features Section -->

    <partial name="/Views/Home/_Enterprises.cshtml" />

    <!-- ======= Portfolio Section ======= -->

    @*<partial name="_Portfolio" />*@

    <!-- End Portfolio Section -->

    <partial name="/Views/Home/_Team.cshtml" />

    <!-- ======= Pricing Section ======= -->

    @*<partial name="_Pricing" />*@

    <!-- End Pricing Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->

    @*<partial name="_Faq" />*@

    <!-- End Frequently Asked Questions Section -->

    <partial name="/Views/Home/_Contact.cshtml" />

</main><!-- End #main -->